.partners {
  padding-top: 1rem;
  padding-bottom: 1rem;
  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    &__item {
      width: 200px;
    }
  }
}
